@charset "utf-8";
/* CSS Document */

body{
	background-color:#d4d3d3;
	background-image:url(../images/topp.jpg);
	background-repeat:repeat-x;
	background-position:top;
    
}
img{
	border:0;
}
#contenedor{
	width:980px;
	height:auto;

}

#logo{
	width:310px;
    float:left;
    margin-left:100px;
}

#contenido{
	width:980px;
	height:auto;
	float:left;
	margin-top:1px;
}
#caja1{
	width:450px;
	height:auto;
	float:left;
    box-shadow: 0 0 15px 0 maroon;


}
#caja2{
	width:450px;
	height:auto;
	float:right;
}
#login{
	width:448px;
	height:450px;
	float:left;
	background-color:#FFF;
	border-left:1px solid #a09e9e;
	border-right:1px solid #a09e9e;
	border-top:1px solid #a09e9e;
}
#titulo_login{
	width:438px;
	height:56px;
	float:left;
	color:#FFF;
	font-family:calibri;
	font-size:24px;
	padding:10px 0px 0px 10px;
	text-align:left;
	background-image:url(../images/login2.jpg);
	background-repeat:repeat-x;
}
#icono1{
	width:80px;
	height:80px;
	float:right;
	position:relative;
	z-index:99;
	margin-top:-50px;
	margin-right:10px;
}
#tabla1{
	width:400px;
	height:auto;
	float:left;
	margin-top:10px;
	margin-left:20px;
	color:#6f6f6f;
	font-family:calibri;
	font-size:16px;
}
.campo1{
	width:200px;
	height:auto;
	float:left;
	border:1px solid #CCC;
	padding:10px 8px;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:left;
	margin-bottom:10px;
	margin-left:10px;
}
.campos{
	width:200px;
	height:auto;
	float:left;
	border:1px solid #CCC;
	padding:10px 8px;
	color:#333;
	font-family:calibri;
	font-size:12px;
	text-align:left;
	margin-bottom:10px;
	margin-left:10px;
}
.textarea{
	width:200px;
	height:auto;
	float:left;
	border:1px solid #CCC;
	padding:10px 8px;
	color:#333;
	font-family:calibri;
	font-size:12px;
	text-align:left;
	margin-bottom:10px;
	margin-left:10px;
	height:120px;
}
#btn1{
	width:auto;
	height:26px;
	float:left;
	background-image:url(../images/btn1.jpg);
	background-repeat:repeat-x;
	padding:4px 20px;
	border-style:none;
	cursor:pointer;
	margin-top:10px;
	margin-left:10px;
	
    
}
#btn1 a{
	color:#FFF;
	font-family:calibri;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
}
#btn1 a:hover{
	color: #333;
}
#sombra{
	width:450px;
	height:32px;
	float:left;
	background-image:url(../images/sombra1.png);
	background-repeat:no-repeat;
}

/* interna */
#btn-soporte{
	width:158px;
	height:25px;
	float:left;
	float:right;
}
#header{
	width:100%;
	height:38px;
	background-image:url(../images/header.jpg);
	background-repeat:repeat-x;
	float:left;
}
#cont-header{
	width:980px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
#footer{
	width:100%;
	height:38px;
	background-image:url(../images/header.jpg);
	background-repeat:repeat-x;
	float:left;
	margin-top: 20px;
}
#cont-footer{
	width:980px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
#nav1{
	width:auto;
	height:22px;
	float:left;
	border-right:1px solid #FFF;
	padding:8px 10px;
	color: #FFF;
	font-family:calibri;
	text-align: center;
	text-decoration:none;
	font-size:16px;
}
#nav1 a{
	color: #FFF;
	font-family:calibri;
	text-align: center;
	text-decoration:none;
	font-size:16px;
}
#nav1 a:hover{
	color:#30b8f8;
}
#hora{
	width:auto;
	height:auto;
	float: right;
	color:#FFF;
	font-family:calibri;
	font-size:16px;
	margin-top:10px;
	text-align:right;
}
#menu{
	display:block;
	height:auto;
	width:220px;
	float:left;
	margin:0;
	position:relative;
	border-left:1px solid #a09e9e;
	border-top:1px solid #a09e9e;
	border-right:1px solid #a09e9e;
	background-color:#FFF;
	background-image:url(../images/sec.jpg);
	background-repeat:repeat-x;
	background-position:top;
    box-shadow: 0 0 15px 0 maroon;
}
#titulo-menu{
	color:#333;
	font-family:calibri;
	font-size:20px;
	text-align:left;
	padding:8px 0px 0px 10px;
	background-image:url(../images/seccion.png);
	background-position:right;
	background-repeat:no-repeat;
	width:180px;
	height:auto;
	margin-bottom:8px;
}
#menu ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
#menu ul li{
	display:block;
	margin:0;
}
#menu ul li a{
	display:block;
	font-family:calibri;
	font-size:16px;
	color:#3d3d3d;
	text-decoration:none;
	padding:7px 5px 7px 20px;
	height:auto;
	margin:0px;
	border-bottom:1px solid #b4b3b3;
	background-image:url(../images/a1.png);
	background-repeat:no-repeat;
	background-position:left;
	text-align:left;
}
#menu ul li a:hover{
	color:#127fb4;
	background-color:#d9d9d9;
}
#menu ul li a.activo{
	color:#127fb4;
	background-position:left;
	background-color:#d9d9d9;
}
#cont-tablas{
	width:740px;
	height:auto;
	float:right;
	background-color:#FFF;
	border:1px solid #a09e9e;
	padding-bottom:30px;
    box-shadow: 0 0 15px 0 maroon;
}
#titulo-principal{
	width:730px;
	height:33px;
	float:left;
	background-image:url(../images/tit2.jpg);
	background-repeat:repeat-x;
	color:#FFF;
	text-align:left;
	font-family:calibri;
	font-size:24px;
	padding:4px 0px 0px 10px;
}
/*#crear-nuevo{
	width:auto;
	height:32px;
	float:left;
	background-image:url(../images/new.jpg);
	background-repeat:repeat-x;
	padding:4px 10px;
	margin-left:20px;
	margin-top:20px;
	color:#333;
	font-family:calibri;
	text-align:center;
	font-size:18px;
}
#crear-nuevo a{
	color:#333;
	font-family:calibri;
	text-align:center;
	font-size:18px;
	background-image:url(../images/new.png);
	background-position:right;
	background-repeat: no-repeat;
	text-decoration:none;
	cursor:pointer;
	padding-right:25px;
}
#crear-nuevo a:hover{
	color:#FFF;
}*/
.cont-crear{
	width:700px;
	height:auto;
	float:left;
	margin-top:20xp;
	margin-left:20px;
	color:#6f6f6f;
	font-family:calibri;
	font-size:16px;
}
h2{
	color:#6f6f6f;
	font-family:calibri;
	font-size:14px;
	font-weight:normal;
}
#tabla3{
	width:700px;
	height:auto;
	float:left;
	margin-top:20px;
	margin-left:20px;
}
#tabla2{
	color:#666;
	font-family:calibri;
	font-size:14px;
	background-color:#ebeaea;
}
/*#tabla2 td{
	background-color:#FFF;
}*/
#tabla2 th{
	color:#0f78ad;
	font-family:calibri;
	font-size:14px;
	background-color:#FFF;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:7px;
}
#tabla2 th .bor2{
	border-right:1px solid #CCC;
}
td{
	padding:0px;
}
#tabla2 td{
	padding:8px;
}
#tabla2 b{
	border-right:1px solid #CCC;
}
.td1{
	border-left:1px solid #CCC;
}
.td2{
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}

.ocultar{
visibility:hidden;
display:none;
}

.mostrar
{
	display: block;
	border: 0px;
}

.msginfo
{
	color:#FFFFFF;
	margin-left: 80px;
	font-family: calibri;
	margin-top: 5px;
	text-align:center;
}

.linkimg
{
	color:#FF0000;
	font-family: calibri;
	font-size: 14px;
}

#numero {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: auto;
    padding-top: 5px;
	padding-bottom: 5px;
    text-align: center;
    width: 690px;
	margin-left: 20px;
}
#numero ul {
    float: left;
    height: auto;
    margin: 0;
    width: 700px;
	padding: 1px;
}
#numero li {
    color: #706B28;
    float: left;
    font-family: calibri;
    font-size: 17px;
    font-weight: normal;
    list-style: none outside none;
    margin-left: 5px;
	margin-top: 3px;
    text-align: center;
	padding: 2px;
}
#numero li a {
    background-color: #A90505;
    color: #FFFFFF;
    float: left;
    font-family: calibri;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    width: 15px;
}
#numero li a:hover {
    background-color: #DBD8D8;
    color: #000000;
}
#numero li a.activo {
    background-color: #DBD8D8;
    color: #000000;
}
